VITE_SUPABASE_URL=https://cbkfdicbfcrlhauatjqd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNia2ZkaWNiZmNybGhhdWF0anFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNjgzNDAsImV4cCI6MjA5Njc0NDM0MH0.ItVdc_tWo4bnw9JcOO-zeNv5YQ9_LCqzR3HDjFtX67Y